<!-- your html code here -->
<hr class="solid">
<div class="row bg-white pb-5 mt-5 justify-content-center">
    <div class="col-8">
        <h2></strong>This first heading</strong> <strong class="text-secondary"> will catch your eyes </strong> </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. </p>
    </div>

    <div class="col-2"> <img src="../website/assets/img/1.jpg" alt="m-w" class="rounded-circle" width="100%">
    
    </div>

</div>

</div>
