<!-- your html code here -->
<hr class="solid">

<div class="bg-white mt-5 pb-5">
<h2>Porfolio</h2>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod samper. Praesent commodo cursus
    magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

<div class="row">
    <div class="col-4">
        <img class="w-100 h-auto" src="../website/assets/img/big-project-image.png" alt="">
        <h4 class="text-primary">Project Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam viverra euismod odio, gravida pellentesque urna 
            varius vitae.
        </p>
    </div>
    <div class="col-4">
        <img class="w-100 h-auto" src="../website/assets/img/big-project-image.png" alt="">
        <h4 class="text-primary">Project Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam viverra euismod odio, gravida pellentesque urna 
            varius vitae.
        </p>
    </div>
    <div class="col-4">
        <img class="w-100 h-auto" src="../website/assets/img/big-project-image.png" alt="">
        <h4 class="text-primary">Project Name</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nam viverra euismod odio, gravida pellentesque urna 
            varius vitae.
        </p>
    </div>
</div>
</div>